#!/bin/bash
set -euo pipefail

if [ -z "${1:-}" ]; then
  echo "Usage: $0 <env_name>"
  exit 1
fi

ENV_NAME=$1
SET_ENV_SCRIPT="set_${ENV_NAME}.sh"

# Create the environment setup script
cat <<EOL > "$SET_ENV_SCRIPT"

module purge
load_modules
conda activate ${ENV_NAME}

source .env.sh

EOL

# Source the environment setup script
conda create -y -n ${ENV_NAME} python=3.11
source "$SET_ENV_SCRIPT"

# Install pytorch
pip install torch
# Install the current directory as a package
pip install -e .

echo "Environment setup complete. Use 'source $SET_ENV_SCRIPT' to activate the environment."
