#!/bin/bash
set -euo pipefail


SET_ENV_SCRIPT="set_env.sh"

# Create the environment setup script
cat <<EOL > "$SET_ENV_SCRIPT"

module purge
source _load_modules
source .venv/bin/activate

source .env.sh

EOL

# Source the environment setup script
uv venv --python 3.11
source "$SET_ENV_SCRIPT"


# Install the current directory as a package
pip install -e .

echo "Environment setup complete. Use 'source $SET_ENV_SCRIPT' to activate the environment."
